.card-details {
    width: 18rem;
    height: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: rgba(225, 225, 255 , 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
    margin-left: 7rem;
    top: 50%; /* Adjust top and left values as needed to position it properly */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the card in the viewport */
  
    /* Add specific styles for CardDetails here */
  }
  
  .card-details > span:nth-of-type(2) {
    color: var(--gray);
    font-size: 16px;
  }
  
 
  
  .c-button-details {
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: rgb(50, 159, 222);
    cursor: pointer;
    position: absolute;
    top: 8rem;
  }
  
  @media screen and (max-width: 480px) {
    .card-details {
      width: 18rem;
      height: 10rem;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      text-align: center;
      background: rgba(225, 225, 255 , 0.26);
      border: 7px solid var(--orangeCard);
      box-shadow: var(--boxShadow);
      border-radius: 20px;
      padding: 0px 26px 2rem 26px;
      margin-left: 7rem;
      top: 17%;
      left: 6%;
      transform: translate(-50%, -50%);
      background-color: #c9dc51;
  }
  }
  